/*Import de Fontes*/
.bbh-sans-bartle-regular {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-serif-medium {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: normal;
}
/*Mudanças no HTML*/
h2{ 
    font-family: "BBH Sans Bartle", sans-serif;
    color: rgb(255, 253, 253);
}
